{% extends 'base.html' %}
{% block title %}Blogs{% endblock title %}
{% block metaDescription %}Ayush blogs is here! read my exciting blogs | ayush blogs{% endblock metaDescription %}
{% block body %}
<h1 class="blogsHeading">Ayush blogs</h1>
{% for blog  in blogs reversed %}
<div class="blog">
    <p> {{blog.date}}</p>
    <h1>{{blog.title}}</h1>
    <p>{{blog.contentView | truncatechars:350 | safe}}</p>
    <p ><a class="blogreadmore" href="/blog/{{blog.slug}}/">read more</a></p>
</div>
{% endfor %}
{% endblock body %}