{% extends 'base.html' %} 
{% block title %}Home{% endblock title %} 
{% block body %}
<main class="main">
  <div class="content">
    <h1>Welcome to <span> Ayush Blogs</span></h1>
    <p class="about">
      Hey there! I am ayush and I am a developer for more than 6 months, I am
      currently a student and developing my skills everyday on this field. I
      developed many practice website, currently learning about backend,
      database. I am also intrested in app dev!
    </p>
    <div>
      <button><a href="/contact">Contact me</a></button>
      <button><a  href="/blog">Explore blog</a></button>
    </div>
  </div>
  <div class="mainImg"></div>
</main>
<div class="course">
  <p class="recommended">MY PROGRAMMING SKILLS</p>
  <div class="allCourse">
    <div>
      <img
        src="https://besthqwallpapers.com/Uploads/17-2-2020/121822/thumb2-python-glitter-logo-programming-language-grid-metal-background-python-creative.jpg"
        alt=""
      />
      <p class="free">Python</p>
      <h2>My python knowledge</h2>
      <p class="aboutCourse">
        I have a great knowledege in python programing. All the the basics of
        python is clear to me, and I am also learning python django faramework
        ,and advance python concepts
      </p>
    </div>
    <div>
      <img
        src="https://besthqwallpapers.com/Uploads/19-2-2020/122227/thumb2-javascript-glitter-logo-programming-language-grid-metal-background-javascript-creative.jpg"
        alt=""
      />
      <p class="free">Javascript</p>
      <h2>My javascript knowledge</h2>
      <p class="aboutCourse">
        I have all basics knowledege in frontend scripting with javascript
        language, and I am also learning javascript react js faramework , and
        its advance concepts and its implementation.
      </p>
    </div>
    <div>
      <img
        src="https://besthqwallpapers.com/Uploads/20-2-2020/122463/thumb2-html5-glitter-logo-programming-language-grid-metal-background-html5-creative.jpg"
        alt=""
      />
      <p class="free">WEB</p>
      <h2>My web knowledge</h2>
      <p class="aboutCourse">
        I know a lot about web development. All parts of web development like
        HTML, CSS, JAVASCRIPT, are clear to me also I am able to create a full
        working static website.
      </p>
    </div>
  </div>
</div>
<div class="work">
  <p class="myworks">MY WORKS</p>
  <div class="worksgrid">
    <div class="workimg1"></div>
    <div class="workimg2"></div>
    <div class="workimg3"></div>
    <div class="workimg4"></div>
    <!-- <div class="workimg5"></div>
        <div class="workimg6"></div> -->
  </div>
</div>

{% endblock body %}
